remote/bin
csserver/csserver.suo
csserver/InputServer/bin
csserver/InputServer/obj
csserver/RemoteTrackpadServer/bin
csserver/RemoteTrackpadServer/obj
csserver/RemoteTrackpadServerInstaller/bin
csserver/RemoteTrackpadServerInstaller/obj
csserver/csserver/bin
csserver/csserver/obj
csserver/InputController/bin
csserver/InputController/obj
csserver/WinInputController/bin
csserver/WinInputController/obj
